<div class="well">
  <div class="input-append color" data-color="rgb(255, 146, 180)" data-color-format="rgb" id="cp3">
    <input type="text" class="span2" value="" readonly >
    <span class="add-on"><i style="background-color: rgb(255, 146, 180)"></i></span>
  </div>
</div>