<div class="well">
  <div class="input-group demo2">
    <input type="text" value="#FFFFFF" class="form-control" />
    <span class="input-group-addon"><i id="my_colour_code"></i></span>
  </div>

  <div class="input group stitches">
    <div id="stitch">
      <a href="#" id="knit">K</a>
      <a href="#" id="purl">P</a>
    </div>
  </div>
</div>