<div class="input-group demo2">
  <input type="text" value="#FFFFFF" class="form-control" />
  <span class="input-group-addon"><i id="my_colour_code"></i></span>
</div>
<h5>Palette</h5>

<div id="color1"></div>
<div id="color2"></div>
<div id="color3"></div>
<div id="color4"></div>




<!-- <div class="input group stitches">
  <div id="stitch">
    <a href="#" id="knit">K</a>
    <a href="#" id="purl">P</a>
  </div>
</div> -->
