<h5>Choose colors</h5>
<div class="input-group demo2">
  <input type="text" value="#FFFFFF" class="form-control" />
  <span class="input-group-addon"><i id="my_colour_code"></i></span>
</div>

<h5><a href="#" id="add">Add this color to the palette</a></h5>

<% @pattern.colors.each do |color| %>
  <div class="color_swatch" style="background-color: <%= color.color %>" data-id="<%= color.id %>"></div>
<% end %>

<h5><a href="#" id="remove">Remove colors</a></h5>

<!-- <div class="input group stitches">
  <div id="stitch">
    <a href="#" id="knit">K</a>
    <a href="#" id="purl">P</a>
  </div>
</div> -->
