<!-- <div class="well">
  <div class="input-append color" data-color="rgb(255, 146, 180)" data-color-format="rgb" id="cp3">
    <input type="text" class="span2" value="" readonly >
    <span class="add-on"><i id="color" style="background-color: rgb(255, 146, 180)"></i></span>
  </div>
</div> -->

<div class="well">
  <div class="form-group">
    <label for="text-field">Text field</label>
    <br>
    <input type="text" id="hue-demo" class="form-control demo" data-control="hue" value="#ff6161">
  </div>
</div>