- if @pattern.rows.count <= 22
  #pattern_show
    - @pattern.rows.each do |row|
      .pattern_row{ id: row.id }
        - row.stitches.each do |stitch|
          .stitch{ :style => "color: #{stitch.color}", :data => { id: stitch.id} } 
            - if stitch.stitch_symbol.strip.empty?
              &nbsp;
            - else
              =raw stitch.stitch_symbol.strip
- else
  #pattern_show
    - @pattern.rows[0..24].each do |row|
      .pattern_row{ id: row.id }
        - row.stitches.each do |stitch|
          .stitch{ :style => "color: #{stitch.color}", :data => { id: stitch.id} } 
            - if stitch.stitch_symbol.strip.empty?
              &nbsp;
            - else
              =raw stitch.stitch_symbol.strip
  #pattern_toggle{ :style => 'display: none'}
    - @pattern.rows[25..-1].each do |row|
      .pattern_row{ id: row.id }
        - row.stitches.each do |stitch|
          .stitch{ :style => "color: #{stitch.color}", :data => { id: stitch.id} } 
            - if stitch.stitch_symbol.strip.empty?
              &nbsp;
            - else
              =raw stitch.stitch_symbol.strip