= simple_form_for Pattern.new do |p|
  %p Create Pattern
  %hr
  #grids
    #default_grid
      %h5 Default grid (30 x 20)
      = render 'shared/default_pattern_form'
    #manual_grid
      %h5 Manual
      = render 'shared/manual_pattern_form'
    #auto_grid
      %h5 From yarn gauge
      = render 'shared/computed_pattern_form'