#tabs
  %ul
    %li
      %a{:href => "#tabs-1"} Proin dolor
    %li
      %a{:href => "#tabs-2"} Proin dolor
    %li
      %a{:href => "#tabs-3"} Aenean lacinia
  #tabs-1
    = render 'shared/colorpicker'
  #tabs-2
    = render 'form'

= render 'single_pattern'
