#pattern.nine.columns.alpha
  - @pattern.rows.each do |row|
    .row
      - row.stitches.each do |stitch|
        .stitch

#info.three.columns.omega
  = render 'shared/colorpicker'
  = render 'form'
