%h1 Editing pattern

#pattern.nine.columns.alpha
  - @pattern.rows.each do |row|
    .row
      - row.stitches.each do |stitch|
        .stitch

#info.three.columns.omega
  = render 'shared/colorpicker'
  = render 'form'

= link_to 'Show', @pattern
\|
= link_to 'Back', patterns_path
