<div id="hero_image">
  <%= image_tag 'yarn.jpg' %>
  <div id="intro">
    <h1>discover and share knitting patterns</h1>
    <p>Knitsy helps you create, manage, share and discover knitting patterns. The project was created with the 21st century knitter in mind. Knitsy not only makes managing and tracking knitting projects easy, it makes it into a social experience.</p>
    <%= link_to 'get started', new_user_registration_path %>
  </div>
</div>