/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require bootstrap-colorpicker
 *= require_tree .
 */

#main {
  width: 1240px;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/*------------------------------- PATTERN PREVIEW --------------------------------*/

.pattern_card {
  background-color: #fff;
  vertical-align: top;
  min-width: 19%;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 6px;
}

.pattern_preview {
  margin-top: 5px;
  text-align: center;
  width: 236px;
}

.pattern_description {
  margin: 10px 0 0 10px;
}

a {
text-decoration: none;
}

#pattern {
  cursor: pointer;
  display: inline-block;
  width: 70%;
  min-width: 60%;
  min-height: 100px;
  overflow: hidden;
}

#info {
  display: inline-block;
  float: right;
  width: 26%;
  vertical-align: top;
}

#save_pattern_button {
  display: inline-block;
  width: 70%;
}

.pattern_row {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  width: 100%;
  height: 16px;
}

.stitch {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
}

.well {
  width: 300px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#pattern_form {
  display: none;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 6px;
}

#grids {
  vertical-align: top;
}

#default_grid {
  padding: 0 20px 0 20px;
  display: inline-block;
  border-right: 1px solid black;
}

#manual_grid {
  padding: 0 20px 0 20px;
  display: inline-block;
  border-right: 1px solid black;
}

#auto_grid {
  padding: 0 20px 0 20px;
  display: inline-block;
}

textarea {
  max-height: 100px;
}

/*------------------------------- FILTER SEARCH --------------------------------*/

.hidden {
  display: none;
}

.filter_options {
  border-radius: 4px;
  position: relative;
  background-color: white;
  width: 400px;
  height: 300px;
  margin-top: -420px; 
  margin-left: 30px;
  -moz-box-shadow:    0px 0px 2px 0px #b2b2b2;
  -webkit-box-shadow: 0px 0px 2px 0px #b2b2b2;
  box-shadow:         0px 0px 2px 0px #b2b2b2;
}










 