/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require bootstrap-colorpicker
 *= require_tree .
 */

body { padding-top: 70px; }

li { list-style-type: none; }

#hero_image { margin-top: -20px; }

#intro {
  padding: 40px 40px 110px 40px;
  width: 30%;
  opacity: 0.9;
  background: #fff;
  position: fixed;
  top: 6%;
  left: 10%;
}

#intro h1 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 200; 
  font-size: 460%;
  margin-bottom: 40px;
}

#intro p {
  margin-bottom: 60px;
  font-size: 120%;
}

#intro a {
  border-radius: 4px;
  padding: 12px 42px;
  background: #04756F;
  text-transform: uppercase;
  font-size: 140%;
  color: #fff;
}

.main {
  width: 1240px;
  margin: 0 auto;
  margin-top: 20px;
}

#container {
  width: 100%;
  margin: 0 0 60px 0;
}

/*------------------------------- NAVBAR --------------------------------*/

.search { margin: 0; }

input.btn.btn-default.navbar-btn {
  width: 70px;
  height: 32px;
}

input#q_name_or_description_cont {
  height: 32px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 150%;
  color: #04756F;
}

.navbar-brand a:hover {
  color: #04756F;
}

.dropdown a {
  padding-top: 18px;
  padding-left: 20px;
  font-size: 110%;
}

/*------------------------------- PATTERN PREVIEW --------------------------------*/

.pattern_card {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  vertical-align: top;
/*  min-width: 18%;*/
  max-width: 19%;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 4px;
}

.pattern_preview {
  margin: 5px 0;
  text-align: center;
  width: 236px;
}

.pattern_description_likes {
  padding: 0 0 10px 0;
  display: block;
}

.pattern_description_likes {
  color: #545454;
}

.fa.fa-heart {
  color: #D90000;
}

.pattern_description_index {
  border-top: 1px solid #e5e5e5;
  padding: 10px 10px 10px 12px;
  background-color: #fafafa;
}

.pattern_description_img {
  vertical-align: top;
  display: inline-block;
  margin-right: 6px;
}

.pattern_description_img img {
    border-radius: 2px;
}

.pattern_details {
  vertical-align: top;
  display: inline-block;
}

.pattern_details p {
  color: #545454;
  font-size: 90%;
  margin-bottom: 6px;
}

/*------------------------------- PATTERN EDIT --------------------------------*/

#pattern_edit {
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  width: 68%;
  min-height: 100px;
  vertical-align: top;
  overflow: hidden;
}

#tabs.edit { width: 30%; }

#info { width: 90%; }
.pattern_row {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  width: 100%;
  height: 16px;
}

.stitch {
  vertical-align: center;
  text-align: center;
  display: inline-block;
  border: 1px solid #7e7e7e;
  width: 14px;
  height: 14px;
  line-height: 11px;
  font-size: 110%;
  font-weight: bold;
  padding: 0;
  font-family: 'Sniglet', cursive;
}

textarea {
  width: 100%;
  max-height: 100px;
}

.field {
  margin-bottom: 8px;
}

#pattern_name, #pattern_description, #pattern_yarn, #pattern_equipment, #pattern_difficulty_id, #pattern_category_id {
  width: 218px;
  float: right;
}

label.radio {
  display: inline-block;
  margin-left: 10px; 
}

.colorpicker-element {
  width: 300px;
}

#save_pattern_button {
  display: inline-block;
  width: 70%;
}

#pattern_form {
  display: none;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 6px;
}

.color_swatch {
  display: inline-block;
  margin: 0 8px 0 0; 
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.type_swatch {
  background-color: #fff;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin: 0 8px 0 0; 
  padding: 0 0 0 0;
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 200%;
  font-family: 'Sniglet', cursive;
}

/*------------------------------- FILTER SEARCH --------------------------------*/

.hidden {
  display: none;
}

.filter_options {
  border-radius: 4px;
  position: fixed;
  background-color: white;
  width: 400px;
  height: 300px;
  top: 70px;
  left: 40px;
  padding: 20px 0 0 0;
  -moz-box-shadow:    0px 0px 2px 0px #b2b2b2;
  -webkit-box-shadow: 0px 0px 2px 0px #b2b2b2;
  box-shadow:         0px 0px 2px 0px #b2b2b2;
}
/*------------------------------- USER PROFILE --------------------------------*/

.profile {
  background-color: #fafafa;
}

.profile_img {
  border-radius: 4px 0 0 4px;
  display: inline-block;
}

.profile_details {
  vertical-align: top;
  margin-left: 18px;
  display: inline-block;
}

#edit_img {
  position: fixed;
  margin-top: -30px;
  margin-left: 19px;
  z-index: 1000;
  background-color: #fff;
  padding: 2px 6px 2px 6px;
  border-radius: 2px;
}

#tabs.profile {
  margin-top: 20px;
  min-width: 100%;
  border: 0;
}

/*------------------------------- USER PATTERNS --------------------------------*/

#ongoing {
  width: 100%;
}

/*------------------------------- PATTERN SHOW --------------------------------*/

#share_buttons {
  min-width: 6%;
  vertical-align: top;
  display: inline-block;
}

#pattern {
  vertical-align: top;
  width: 64%;
  display: inline-block;
}

#pattern_toggle {
  display: none;
}

#info_show {
  width: 28%;
  display: inline-block;
}

#manage_buttons {
  display: inline-block;
  border: 1px solid black;
}

.comments {
  margin: 0 0 0 6.3%; 
  width: 60%;
  margin-bottom: 60px;
}

#comment_body {
  width: 300px;
  height: 60px;
}

/*------------------------------- PATTERN CREATION POPUP --------------------------------*/

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

#default_grid, #manual_grid, #auto_grid {
  vertical-align: top;
  height: 240px;
  display: inline-block;
}

#manual_grid, #default_grid {
  border-right: 1px solid #e5e5e5;
}

#manual_grid, #auto_grid {
  padding: 0 0 0 30px;
  width: 240px;
}

#default_grid {
  width: 200px;
}

#pattern_no_of_stitches, #pattern_no_of_rows, #pattern_yarn_gauge, #pattern_width_inch {
  width: 160px;
}

.btn {
  margin-top: 10px;
  width: 160px;
}

/*#loader {
height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 999999;
background-color: black;
}*/

#dropdown-menu li {
  padding: 0 10px 0 10px;
}






 